*{
    padding: 0;
    margin-top: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner{
    width: 100%;
    height: 100%;
    background-image: url(lebron.jpg);
    background-size: cover; 
}
.nav{
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.nav .logo
