*{
    outline : none;
    margin:  0;
    box-sizing: border-box;
}
body{
    color: #fff;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 36;
}
h3{
    font-size: 26;
}
h4{
    font-size: 40px;
}
h5{
    font-size: 40px;
}
.container{
    max-width: 1166px;
    margin: 0 auto;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
header ul{
    padding-left: 0;
}
header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
header ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.banner{
    height: 100vh;
    background : url(lebron.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: flex-end;
}
.banner .text{
    text-align: center;
    padding-bottom: 100px;
}
.banner h1{
    line-height: 80px;
    font-weight: 300;
    margin-bottom: 10px;
}

/*Boutton de style global*/
.btn{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 60px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align:center;
    line-height: 60px;
    z-index: 9;
    margin-top: 50px;
    transition: all ease 0.5s;
}
.btn::before{
    content: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    opacity: .9;
    z-index: -1;
    transition: all ease 0.5s;
}
.btn:hover{
    color: #fff;
}
.btn:hover::before{
    top: 0;
    height: 100%;
}
.brand-logo{
    padding: 30px 0;
}
.brand-logo-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sec-1{
    position : relative;
    padding : 80px 0;
}
.sec-1 h3{
    text-transform: uppercase;
    line-height: 45px;
}
.sec1 p{
    line-height: 35px;
}
.sec1-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec1 .text{
    width: 47%;
}
.sec1 .text-left{
    text-align: left;
}
.sec1 .text-right{
    text-align: right;
}
.sec1::before{
    content: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}
.sec1::after{
    content: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}

.sec2{
    padding: 100px 0 0;
}
.sec2 h2{
    text-transform: uppercase;
}
.sec2 p{
    line-height: 30px;
}
.sec2-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sec2-inner .img{
    width: auto;
}
.sec2-inner .text{
    width: 50%;
    margin-left: -65%;
    z-index: 9;
}
.sec2 .text-inner{
    position: relative;
    margin: 55px 0 0 190px;
}
.sec2 .text-inner::before{
    content: none;
    position: absolute;
    top: 8px;
    left: -30px;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top, transparent, #fff);
}

.left-right-sec:nth-child(even) .text{
    margin-right: -65px;
    text-align:right;
}
.left-right-sec:nth-child(even) .text-inner{
    margin: 55px 190px 0 0;
}
.left-right-sec:nth-child(even) .text-inner::before{
    left: inherit;
    right: -30px;
}



.sec4{
    padding: 100px 0;
}
.sec4 h2{
    text-transform: uppercase;
}
.sec4-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
}
.box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    min-height: 270px;
    border: 1px solid #fff;
    margin-bottom: 40px;
    overflow: hidden;
}
.box h6{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.sec4-boxes .img{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all ease 2s;
}
.box:hover .img{
    opacity: 1;
}
footer{
    position: relative;
    padding: 50 px;
}
.footer-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-inner .col{
    padding-right: 50px;
}
footer ul{
    margin-left: 0;
}
footer ul li{
    list-style: none;
    margin-bottom: 30px;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
footer::before{
    content: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}
footer::after{
    content: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}
video{
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
}
.container_1{
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
}
.login-form{
    height: 310px;
    width: 270px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    color: #fff;
    padding-top: 60px;
}
.login-form h2{
    letter-spacing: 1px;
}

input{
    width: 200px;
    margin-top: 20px;
    background: transparent;
    outline: none;
    padding: 10px;
    font-size: 13px;
    border-radius: 30px;
    box-shadow: 0 0 4px, #fff;
    transition: box-shadow 0.5s ease;
}
.btn_1{
    padding: 5px 20px;
    margin-top: 30px;
    background: transparent;
    border-radius: 30px;
    box-shadow: 0 0 4px, #fff;
    cursor: pointer;
}
input[placeholder]:focus{
    color: #fff;
}

input:focus,
.btn_1:hover{
    box-shadow: 0 0 10px #fff;
}